body {
  margin-top: 0;
}

::-webkit-scrollbar {
  width: 0;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto; /* Allows horizontal scrolling when necessary */
  border: 1px solid #ccc; /* Optional: Adds a border around the table */
}

.scrollable-tbody {
  max-height: 200px; /* Adjust as necessary */
  overflow-y: auto; /* Allows vertical scrolling when necessary */
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto; /* Allows the table to grow beyond 100% width if necessary */
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd; /* Adds a border around cells */
  white-space: nowrap; /* Prevents text wrapping inside cells */
  min-width: 100px; /* Sets a minimum width for cells to prevent squashing */
}

th small {
  display: block;
  margin-top: 5px;
}

th:nth-child(--current-idx),
td:nth-child(--current-idx) {
  background-color: grey;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
  /* th, */
  td {
    padding: 8px;
    font-size: 0.8em;
  }

  input[type='number'] {
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
  }
}
